# Executáveis
*.exe
*.out
*.app

# Objetos / intermediários
*.o
*.obj
*.lo
*.la
*.al

# Bibliotecas compiladas


# Arquivos temporários
*.log
*.tmp

# Pastas de build
build/


# VSCode
.vscode/

# Outros
*.stackdump


