# Executáveis
*.exe
*.out
*.app

# Objetos / intermediários
*.o
*.lo
*.la
*.al

# Bibliotecas compiladas
*.a
*.lib
*.dll

# Arquivos temporários
*.log
*.tmp

# Pastas de build
build/
bin/
GL/
glad/
KHR/

# VSCode
.vscode/

# Outros
*.stackdump
teste.c
glad.c

#//linux:
#// gcc boneco.c -I$HOME/local/include -L$HOME/local/lib -lglfw -lGL -lGLU -lm -o boneco && ./boneco
#// gcc robo.c -I$HOME/local/include -L$HOME/local/lib -lglfw -lGL -lGLU -lm -o robo && ./robo
#// gcc estrelinhas.c -I$HOME/local/include -L$HOME/local/lib -lglfw -lGL -lGLU -lm -o estrelinhas && ./estrelinhas
#// gcc chuva.c -I$HOME/local/include -L$HOME/local/lib -lglfw -lGL -lGLU -lm -o chuva && ./chuva

# // gcc teste.c -I$HOME/local/include -L$HOME/local/lib -lglfw -lGL -lGLU -lm -o teste && ./teste


opa.txt
